.main {
  margin: 10rem auto;
  max-width: 1224px;
  text-align: center;
  padding: 0 2rem;
  overflow: auto;
  word-break: break-word;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con opacidad */
  backdrop-filter: blur(98px); /* Efecto de desenfoque */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Espaciado interno para no pegar el texto a los bordes */
}


.main h1 {
    margin: 5rem 0 2rem 0;
    font-size: 2.9rem;

}


  

.main h1 {
    margin: 5rem 0 2rem 0;
    font-size: 2.9rem;
  }
  
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    text-align: left; /* Alinea los subtítulos al inicio */
    font-size: 1.9rem;
    margin-bottom: 0.6rem;
    color: #dadada;
  }
  
  .main p,
  .main li,
  .main ul,
  .main ol,
  .main blockquote,
  .main pre,
  .main .code,
  .main .highlight,
  .main span {
    text-align: left;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    text-wrap: pretty;
    color: #e4e4e4;
  }
  
/* Remueve los marcadores predeterminados */
.main ul {
  list-style-type: none; /* Elimina los marcadores predeterminados */
  padding-left: 0;
  margin-left: 1em; /* Añade espacio en el margen izquierdo para los marcadores */
}

/* Agrega marcadores personalizados */
.main ul li {
  position: relative; /* Posicionamiento relativo para el pseudoelemento */
  margin-bottom: 0.5rem;
  padding-left: 2em; /* Espacio para el marcador personalizado y el texto */
}

.main ul li::before {
  content: ''; /* Necesario para generar el pseudoelemento */
  position: absolute;
  left: 0; /* Alinea el pseudoelemento con el inicio del elemento li */
  top: calc(0.3em + 0.3em); /* Ajusta la posición vertical del marcador */
  height: 0.4em; /* Tamaño del marcador ajustado */
  width: 0.4em; /* Tamaño del marcador ajustado */
  background-color: #26E1FF; /* Color del marcador */
  border-radius: 50%; /* Hace el marcador circular */
}

/* Estilos para listas anidadas */
.main ul li ul {
  padding-left: 0;
}

.main ul li ul li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 2em; /* Asegura suficiente espacio para el marcador anidado */
}

.main ul li ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: calc(0.3em + 0.3em); /* Ajusta la posición vertical para alinear con el texto */
  height: 0.40em; /* Tamaño más pequeño para marcadores de listas anidadas */
  width: 0.40em; /* Tamaño más pequeño para marcadores de listas anidadas */
  background-color: #26E1FF; /* Mismo color para mantener la consistencia */
  border-radius: 50%; /* Circular */
 
}




  .main h2 {
    font-size: 2rem;
    text-align: left; /* Alinea los subtítulos al inicio */
    font-size: 1.9rem;
  }
  
.main img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 1024px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
    margin-top: 2rem;

}


.image-cover {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 1024px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
    margin-top: 2rem;

}


.main h2 {
    font-size: 2rem;
    text-align: left; /* Alinea los subtítulos al inicio */
    font-size: 1.9rem;
    
}


@media (max-width: 599px) {
  
    /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */

    .main h1 {
        margin: 4rem 0 2rem 0;
        font-size: 1.8rem;
        text-wrap: balance;
        font-weight: semibold;
    
    }
    
  }
  
  
  /* Tabletas: desde 601px hasta 900px */
  @media (min-width: 601px) and (max-width: 1025px) {
    
    .main h1 {
        margin: 8rem 0 2rem 0;
       
    
    }
  
  }
  
  /* Escritorio: más de 900px */
  @media (min-width: 1026px) {
  
  }