.cardTestimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #26e2ff55;
  width: 20rem; /* Flexible width */
  min-height: 45rem; /* Minimum height */
}

.cardTestimony:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #26e2ff;

  
}

.cardTestimony__image {
  width: 80px; /* Increased size */
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
}

.cardTestimony__image__img {
  border-radius: 50%; /* Ensures the image remains circular */
  object-fit: cover;
  object-position: center;
}

.cardTestimony__text {
  color: #ffffff;
  font-size: 1.4rem; /* Adjusted font size */
  text-align: center;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Number of lines to show before cutting */
  overflow: hidden;
  padding: 0 10px; /* Added padding for better readability */
}

.cardTestimony__name h4 {
  color: #26E1FF;
  font-size: 1.25rem; /* Adjusted font size */
  text-align: center;
  font-weight: 600;
}

.cardTestimony__text p {
  font-size: 1.3rem; /* Adjusted font size */
  line-height: 1.3;
  text-wrap: pretty;
}


.cardTestimony__rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2rem;
}

@media (max-width: 599px) {

  .cardTestimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 17rem; /* Flexible width */
    min-height: 10rem; /* Minimum height */
  }
  .cardTestimony__name h4 {
    color: #26E1FF;
    font-size: 1rem; /* Adjusted font size */
    padding: 30px 0;

  
  }
  .cardTestimony__text p {
    color: #ffffff;
    font-size: 1.1rem; /* Adjusted font size */
    text-align: center;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show before cutting */
    overflow: hidden;
    padding: 0 20px; /* Added padding for better readability */  
  }
  
  
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 1368px) {

  .cardTestimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 16rem; /* Flexible width */
    min-height: 12rem; /* Minimum height */
  }

  .cardTestimony__text p {
    color: #ffffff;
    font-size: 1.2rem; /* Adjusted font size */
    text-align: center;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to show before cutting */
    overflow: hidden;
    padding: 0 20px; /* Added padding for better readability */  
  }
  
  .cardTestimony__name h4 {
    color: #26E1FF;
    font-size: 1.15rem; /* Adjusted font size */
  
  }

}

/* Escritorio: más de 900px */
@media (min-width: 1369px) {

}