.Testimonials__container {
  display: flex;
  color: #F2F2F2;
  justify-content: space-between;
  align-items: center;
  margin: 4vw 0;
  padding: 2vh 0;;
  
}

.Dot{
  color: #26E1FF;
}

.Testimonials__container__title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0;
}

.Testimonials__title{
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}