.Testimonials__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 2rem 0;
  padding: 0 2rem;
  align-items: center;
  justify-items: center;
  
}

.Dot{
  color: #26E1FF;
}

.Testimonials__container__title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0;
}

.Testimonials__title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}






@media (max-width: 599px) {
  .Testimonials__container{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
    align-items: center;
    justify-items: center;
  }
  .Testimonials__title{
    font-size: 2rem;
  }

  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 900px) {

  .Testimonials__container{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    align-items: center;
    justify-items: center;
  }

}

/* Escritorio: más de 900px */
@media (min-width: 901px) {

}