.WhyWe__container {
  display: flex;
  color: #F2F2F2;
  padding: 10vh 0;
  align-items: start;

}

.Dot{
  color: #26E1FF;
}
.WhyWe__container_text, .WhyWe__container_images{
  flex: 1;
}

.WhyWe__title{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  text-align: start;
  text-wrap: balance;
 
}

.WhyWe__container_images {
  display: flex;
  justify-content: center;
}


.WhyWe__container__image__img {
  width: 100%;
  height: auto;
  object-fit: contain;

}

.WhyWe__container_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 1rem;
  
}


.WhyWe__container_text h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: start;


}

.WhyWe__container_text p {
  font-size: 1.3rem;
  text-align: start;
  margin-bottom: 1rem;
  text-wrap: pretty;

}



@media (max-width: 599px) {

  .WhyWe__container {
    flex-direction: column-reverse;
    padding: 1vh 0;
  }
  
  .WhyWe__container__image__img {
    max-width: 350px;
    margin: 2rem 0;

  }

  .WhyWe__container {
    flex-direction: column-reverse;
    padding: 5vh 0;
  }
}

  .WhyWe__container_text h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: start;
    

  }

  
.WhyWe__container_text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}


  
.WhyWe__container_text p {
  font-size: 1rem;
  text-align: start;
  margin-bottom: 1rem;
  padding: 0 2rem;


}



  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */



/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 1729px) {




  .WhyWe__container {
    flex-direction: column-reverse;
    padding: 5vh 0;
  }
}

  .WhyWe__container_text h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;

  }

  .WhyWe__container_text{
    padding: 0;
    margin: 0;
    

   

  }

  
.WhyWe__container_text p {
  font-size: 1.2rem;
  text-align: auto;
  margin-bottom: 1rem;
  


}

.WhyWe__container__image__img {
  width: 100%;  /* Puedes ajustar esto según tus necesidades */
  max-width: 650px;
  height: auto; ;
  padding: 0;
  margin: 2rem 0;
  object-fit: cover;
  object-position: center;
  

}




/* Escritorio: más de 900px */
@media (min-width: 1728px) {


}