


.Dot{
  color: #26E1FF
}

.LastNews__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  cursor: pointer;

}


.LastNews__container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 1vh;
}

.LastNews__container__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.LastNews__title{
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 10vh;
}


@media (max-width: 599px) {
  .LastNews__title{
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
  }

  .LastNews__container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 900px) {

}

/* Escritorio: más de 900px */
@media (min-width: 901px) {

}