.Services__container {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 0;
}
.Dot{
  color: #26E1FF;
}

.Services__container__title h2 {
  color: #f2f2f2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}


.Services__container__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.Services__container__content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #26e2ff4e;
  border-radius: 20px;
  width: 22rem;
  height: 30rem;
  gap: 1rem;
  padding: 0 1rem;

}

.Services__container__content__item:hover {
  border: solid 1px #26E1FF;

}


.Services__container__content__item h3 {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

}


/* Estilos existentes */
/* ... */

/* Estilos para el botón enlace */
.Services__container__content__item .LinkButton {
  display: inline-block; /* Para que se puedan aplicar dimensiones y centrado */
  padding: 15px 30px; /* Ajusta al tamaño deseado */
  margin-top: 20px; /* Espacio sobre el botón */
  text-align: center;
  color: #0D0D0D; /* Color del texto */
  background-color: #26E1FF; /* Color de fondo del botón */
  border: none;
  border-radius: 14px;
  cursor: pointer;
  text-decoration: none; /* Eliminar el subrayado del enlace */
  font-size: 1.1rem; /* Tamaño del texto */
  font-weight: 400; /* Peso del texto */
  transition: background-color 0.3s; /* Efecto al pasar el mouse */
}

.Services__container__content__item .LinkButton:hover {
  background-color: #26E1FF; /* Color cuando el mouse está encima */
}



@media (max-width: 599px) {


  .Services__container__title{
    justify-content: center;
    align-items: center;
  }

  .Services__container__title h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }


  .Services__container__content {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .Services__container__content__item {
    width: 35vh;
    height: 35vh;
    padding: 2vh 0;
    margin: 1vh 0;
  }
  .Services__container__content__item h3 {
    font-size: 1.5rem;  
  }
  /* Estilos que se aplican cuando la pantalla tiene menos de 600px de ancho */
}


/* Tabletas: desde 601px hasta 900px */
@media (min-width: 601px) and (max-width: 900px) {

  .Services__container__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .Services__container__title h2{
    font-size: 2rem;
    margin-bottom: 2rem;
  }


  .Services__container__content__item {
    width: 22rem;
    height: 21rem;
    padding: 2vh 0;
    margin: 1vh 0;
  }
  .Services__container__content__item h3 {
    font-size: 2rem;  
  }
  
  /* Estilos que se aplican cuando la pantalla tiene entre 601px y 900px de ancho */

}

/* Escritorio: más de 900px */
@media (min-width: 901px) {

}