.Services__container {
  display: flex;
  border: 1px solid white;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}


.Services__container__title {
  color: #f2f2f2;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}


.Services__container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}