.Methodology__container {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Dot{
  color: #26E1FF;
}

.Methodology__container_text {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  margin: 0 0 10vw 0;

}

.Methodology__container_text h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.Methodology__container_steps{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;

}

.Methodology__container_steps_step_left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0;

}

.Methodology__container_steps_step_right{
  display: flex;               
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 4rem 0;


  
}

.Methodology__container_steps_step_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  width: 50%;
}

.Methodology__container_steps_step_text h3{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.Methodology__container_steps_step_text p{
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}