.Methodology__container {
  display: flex;
  border: 1px solid rgb(253, 115, 115);
  background-color: transparent;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Methodology__container_text {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;

}

.Methodology__container_text h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

